data/
logs/
__pycache__
.stfolder/
.stignore
runs/
bash-log/
bash-log.bak/
lightning_logs/
imgs_test/
others/
bash-logv2/
bash-log*/
*.log
.stversions/
.vimpsector.json
*.sqlite3
push_bot.py
papers/
ray_results/
logv3vis/
log*/
ml-runs/
mlruns/
tests/
.vscodium-server/
mylist*